.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--grey-900);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  margin: 0px 2rem;
}
